@font-face {
  font-family: "Ubuntu Pro";
  src: url("../fonts/Ubuntu-Light.eot");
  src: url("../fonts/Ubuntu-Light.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/Ubuntu-Light.woff") format("woff");
  src: url("../fonts/Ubuntu-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Gotham Pro";
  src: url("../fonts/GothamPro.eot");
  src: url("../fonts/GothamPro.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/GothamPro.woff") format("woff");
  src: url("../fonts/GothamPro.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Gotham Pro";
  src: url("../fonts/GothamPro-Bold.eot");
  src: url("../fonts/GothamPro-Bold.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/GothamPro-Bold.woff") format("woff");
  src: url("../fonts/GothamPro-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
* {
  padding: 0;
  margin: 0;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: "Gotham Pro";
  font-weight: 400;
}

li {
  list-style: none;
}

img {
  vertical-align: middle;
}

a {
  text-decoration: none;
  color: #000;
}

.container {
  max-width: 1480px;
  width: 100%;
  margin: 0 auto;
}

.button {
  border-radius: 15px;
  background-color: #131415;
  color: #FFF;
  font-size: 20px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 58px;
  cursor: pointer;
}
.button a {
  color: #FFF;
}

.point {
  width: 21px;
  height: 21px;
  background-color: #131415;
  border-radius: 50%;
}

.title {
  font-size: 96px;
  text-transform: uppercase;
  font-weight: 400;
}

.subtitle {
  font-size: 48px;
  text-transform: uppercase;
}

.swiper-slide-duplicate-prev {
  opacity: 0.5;
}

.main {
  background-color: #F1F1F1;
  padding-bottom: 40px;
}

.nav_menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px;
  background-color: #fff;
  border-radius: 20px;
  margin-bottom: 40px;
}
.nav_block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav_item {
  margin-left: 37px;
}
.nav_item:first-of-type {
  margin-left: 0;
}
.nav_item:last-of-type {
  margin-right: 0;
}
.nav_item-special {
  width: 186px;
  margin-right: 40px;
}

.header {
  margin-bottom: 100px;
}
.header_video {
  background-image: url("../img/video.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  height: 1024px;
}
.header_shadow {
  background-color: rgba(30, 33, 38, 0.4);
  border-radius: 20px;
  padding-top: 23px;
  height: 1024px;
}
.header_truck {
  position: relative;
}
.header_wrapper {
  display: flex;
  margin-bottom: 159px;
}
.header_name {
  color: rgba(255, 255, 255, 0.5);
  writing-mode: vertical-rl;
  text-orientation: mixed;
  font-size: 128px;
  font-weight: 700;
  text-transform: uppercase;
}
.header_info {
  color: #FFF;
  font-size: 24px;
  text-transform: uppercase;
  margin-left: 53%;
}
.header_wrap {
  display: flex;
  align-items: center;
}
.header_title {
  color: #FFF;
}
.header_subtitle {
  color: #FFF;
  font-size: 36px;
  line-height: 106.2%;
  margin-right: 40px;
}
.header_img {
  margin-right: 38px;
}
.header_contacts {
  position: absolute;
  right: 0;
}
.header_phone {
  color: #FFF;
  font-size: 22px;
}
.header_firm {
  font-family: "Ubuntu Pro";
  font-weight: 300;
  color: #FFF;
  font-size: 22px;
}

.specifications {
  margin-bottom: 100px;
}
.specifications_wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
.specifications_link {
  display: flex;
}
.specifications_swiper {
  overflow: hidden;
  margin-left: calc((100% - 1480px) / 2);
}
.specifications_swiper_button {
  border-radius: 20px;
  background-color: #131415;
  width: 97px;
  height: 58px;
  margin-right: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.specifications_swiper_button-prev {
  transform: rotate(180deg);
}
.specifications_swiper_button svg {
  fill: #fff;
}
.specifications_swiper_button:last-of-type {
  margin-right: 0;
}
.specifications_swiper_buttons {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 40px;
  margin-right: calc(100% - 1480px);
}
.specifications_slide {
  width: auto;
}
.specifications_blocks {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 40px;
  margin-bottom: 40px;
}
.specifications_block {
  padding-top: 55px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  border-radius: 20px;
  border: 1px solid #000;
}
.specifications_block:nth-of-type(1) {
  padding: 55px 21px 0;
}
.specifications_block:nth-of-type(2) {
  padding: 55px 61px 0;
}
.specifications_block:nth-of-type(3) {
  padding: 55px 91px 0;
}
.specifications_block:nth-of-type(4) {
  padding: 55px 53px 0;
}
.specifications_text {
  color: #000;
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 24px;
}
.specifications_point {
  margin-bottom: 10px;
}
.specifications_button {
  width: 391px;
}
.specifications_button_wrap {
  display: flex;
  justify-content: flex-end;
}

.title {
  text-transform: lowercase;
}
.link_item {
  display: flex;
  justify-content: center;
  width: 212px;
  height: 150px;
  padding-top: 40px;
  margin-right: 40px;
  border-radius: 15px;
  background: #131415;
  position: relative;
}
.link_item:last-of-type {
  margin-right: 0px;
}
.link_text {
  color: #FFF;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}
.link_arrow {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.choice {
  margin-bottom: 100px;
}
.choice_wrapper {
  display: flex;
}
.choice_info {
  margin-left: calc((100% - 1480px) / 2);
  margin-right: 102px;
}
.choice_title {
  margin-bottom: 20px;
}
.choice_subtitle {
  margin-bottom: 40px;
}
.choice_advantages {
  padding: 50px;
  border-radius: 30px;
  border: 1px solid #000;
  display: flex;
  flex-direction: column;
}
.choice_swiper {
  overflow: hidden;
}
.choice_swiper_button {
  border-radius: 20px;
  background-color: #131415;
  width: 97px;
  height: 58px;
  margin-right: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.choice_swiper_button-prev {
  transform: rotate(180deg);
}
.choice_swiper_button svg {
  fill: #fff;
}
.choice_swiper_button:last-of-type {
  margin-right: 0;
}
.choice_swiper_buttons {
  display: flex;
  justify-content: flex-end;
  margin-left: calc((100% - 1480px) / 2);
}
.choice_slide {
  width: auto;
  position: relative;
}
.choice_slide_text {
  border-radius: 0px 20px;
  background: #131415;
  width: 295px;
  height: 58px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  position: absolute;
  bottom: 0;
}

.advantages_text {
  margin-bottom: 80px;
  font-size: 20px;
}
.advantages_list {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 60px;
}
.advantages_list ul {
  margin-right: 37px;
}
.advantages_list li {
  text-transform: uppercase;
  font-size: 20px;
  margin-bottom: 40px;
}
.advantages_list li:last-of-type {
  margin-bottom: 0px;
}
.advantages_point {
  margin-bottom: 45px;
}
.advantages_point:last-of-type {
  margin-bottom: 0;
}
.advantages_button {
  width: 312px;
}
.advantages_button_wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

.calculator {
  margin-bottom: 100px;
}
.calculator_title {
  margin-bottom: 40px;
}
.calculator_bacgraynd {
  background: url("../img/Rectangle 39.png");
  height: 244px;
}
.calculator_shadow {
  border-radius: 30px;
  background: rgba(0, 0, 0, 0.3);
  height: 244px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.calculator_text {
  color: #fff;
}
.calculator_button {
  width: 304px;
}

.test {
  margin-bottom: 100px;
}
.test_wrapper {
  display: flex;
}
.test_application {
  margin-right: 40px;
}
.test_title {
  margin-bottom: 20px;
}
.test_subtitle {
  margin-bottom: 37px;
}
.test_form {
  border-radius: 30px;
  border: 1px solid #000;
}
.test_video {
  background: url("../img/Rectangle 40.png") no-repeat;
  width: 590px;
  height: 913px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form_form {
  padding: 53px 60px 46px 60px;
}
.form_form input {
  margin-bottom: 60px;
  height: 60px;
  width: 100%;
  background-color: #131415;
  padding-left: 18px;
}
.form_text {
  font-size: 48px;
  margin-bottom: 20px;
}
.form_button {
  width: 291px;
}
.form_button_wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

.questions {
  margin-bottom: 100px;
}
.questions_wrapper {
  display: flex;
}
.questions_title {
  margin-right: 25px;
}
.questions_questions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  border: 1px solid #000;
  width: 57%;
  padding: 23px 50px 24px;
}
.questions_questions li {
  margin-bottom: 25px;
  font-size: 30px;
}
.questions_point {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin-bottom: 34px;
}

.news_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.news_button {
  width: 312px;
}
.news_swiper {
  overflow: hidden;
  margin-left: calc((100% - 1480px) / 2);
}
.news_slide {
  width: auto;
}

.footer {
  background-color: #131415;
  padding: 40px 222px 70px 220px;
}
.footer_logo {
  margin-bottom: 40px;
}
.footer_wrapper {
  display: flex;
}
.footer_menu {
  display: flex;
  justify-content: space-between;
  margin-bottom: 71px;
}
.footer li {
  margin-bottom: 20px;
}
.footer li a {
  color: #fff;
}
.footer ul:nth-of-type(1) {
  margin-right: 96px;
}
.footer ul:nth-of-type(2) {
  margin-right: 88px;
}
.footer_copyright {
  display: flex;
  align-items: center;
  color: #fff;
  margin-bottom: 20px;
  font-size: 16px;
}
.footer_copyright:last-of-type {
  margin-bottom: 0px;
}
.footer_copyright a {
  color: #fff;
}
.footer_bottom {
  color: #131415;
  border-radius: 15px;
  background: #F1F1F1;
  width: 312px;
  height: 58px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
  font-size: 20px;
}/*# sourceMappingURL=style.css.map */